<html>

<head>

    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="style/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="sequence-alignment.js"></script>
    <style>
        .arrow-up,
        .arrow-left,
        .arrow-diag {
            position: absolute;
            top: auto;
            font-size: 10px;
            color: #666;
        }

        .arrow-up {
            margin-top: -13px;
            margin-left: 3px;
        }

        .arrow-left {
            margin-left: -24px;
            margin-top: 6px;
        }

        .arrow-diag {
            margin-top: -13px;
            margin-left: -24px;
            transform: rotateZ(45deg);
        }

        .path>.arrow-diag {
            color: green;
        }

        .path>.arrow-left {
            color: blue;
        }

        .path>.arrow-up {
            color: red;
        }

        .path {
            border: 3px solid #777;
        }

        td {
            min-width: 51px;
        }

        .table{
          width:455px; margin:0 auto; margin-top:25px
        }
    </style>


</head>

<body ng-app="sequenceAlignmentDemo" ng-controller="mainController">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>String A</label>
                        <input type="text" class="form-control" placeholder="String A" ng-model="stringA" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>String B</label>
                        <input type="text" class="form-control" placeholder="String B" ng-model="stringB" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Gap</label>
                        <input type="text" class="form-control" placeholder="gap" ng-model="gap" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Match</label>
                        <input type="text" class="form-control" placeholder="match" ng-model="match" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Mismatch</label>
                        <input type="text" class="form-control" placeholder="mismatch" ng-model="mismatch" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" ng-model="local" ng-change="clear()" ng-options="l.value as l.label for l in localOptions"></select>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Examples<span class="caret"></span>
  </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="e in examples">
                                <a ng-click="loadExample(e)">{{e.stringA}} - {{e.stringB}} ({{e.local ? 'LOCAL' : 'GLOBAL'}})</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-success col-md-12" ng-click="align()">Align</button>
                </div>


            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row" ng-if="matrix">
        <div class="col-md-12">
            <table class="table table-bordered text-center table-responsive" >
                <tr>
                    <td></td>
                    <td></td>
                    <td ng-repeat="s in stringA.split('') track by $index"><strong>{{s}}</strong></td>
                </tr>

                <tr ng-repeat="row in matrix track by $index" ng-init="rowIndex = $index">
                    <td><strong ng-if="$index > 0">{{stringB[$index-1]}}</strong></td>
                    <td ng-repeat="cell in matrix[rowIndex]  track by $index">
                        <div ng-init="t = tMatrix[rowIndex][$index]" ng-class="{'path':cell.path}">
                            <span class="glyphicon glyphicon-arrow-left arrow-left" ng-if=" cell.left "></span>
                            <span class="glyphicon glyphicon-arrow-up arrow-up" ng-if=" cell.up "></span>
                            <span class="glyphicon glyphicon-arrow-left arrow-diag" ng-if=" cell.diag"></span>
                            <span>{{cell.score}}</span>
                        </div>
                    </td>

                    <!-- <th ng-repeat="s in stringA.split('') track by $index">{{s}}</th> -->
                </tr>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered text-center" style="max-width:455px">
                <tr ng-repeat="s in sequences">

                    <td>
                        <table>
                            <tr>
                                <td ng-repeat="s in s.stringA.split('') track by $index">{{s}}</td>
                            </tr>
                            <tr>
                                <td ng-repeat="s in s.stringB.split('') track by $index">{{s}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>{{s.score}}</td>
                </tr>
            </table>
        </div>
    </div>
    </div>

    <script>
        (function() {
            var app = angular.module('sequenceAlignmentDemo', []);

            app.config(function($locationProvider) {
                $locationProvider.html5Mode({
                    enabled: true,
                    requireBase: false
                });
            });


            app.controller('mainController', ['$scope', '$location', '$httpParamSerializer', function($scope, $location, $httpParamSerializer) {

                $scope.examples = [{
                    stringA: 'ACTGAT',
                    stringB: 'ACGCA',
                    match: 2,
                    mismatch: -3,
                    gap: -2
                }, {
                    stringA: 'ACTGATTCA',
                    stringB: 'ACGCATCA',
                    match: 2,
                    mismatch: -3,
                    gap: -2
                }, {
                    stringA: 'SEND',
                    stringB: 'AND'
                }, {
                    stringA: 'GCATGCU',
                    stringB: 'GATTACA'
                }, {
                    stringA: 'GCGTA',
                    stringB: 'TGCAAT'
                }, {
                    stringA: 'CGTGAATTCAT',
                    stringB: 'GACTTAC'
                }, {
                    stringA: 'TGTTACGG',
                    stringB: 'GGTTGACTA',
                    local: true,
                    gap: -2,
                    match: 3,
                    mismatch: -3
                }];


                $scope.stringA = $location.search().stringA || $scope.examples[0].stringA;
                $scope.stringB = $location.search().stringB || $scope.examples[0].stringB;

                // $scope.stringA = $location.search().stringA || 'SEND';
                // $scope.stringB = $location.search().stringB || 'AND';

                $scope.gap = $location.search().gap !== undefined ? $location.search().gap : -1;
                $scope.mismatch = $location.search().mismatch !== undefined ? $location.search().mismatch : -1;
                $scope.match = $location.search().match !== undefined ? $location.search().match : 1;
                $scope.local = $location.search().local == 'true';



                $scope.localOptions = [{
                    value: false,
                    label: 'GLOBAL'
                }, {
                    value: true,
                    label: 'LOCAL'
                }];



                //keeping it simple atm
                function scoring(a, b) {
                    return (a != b ? $scope.mismatch * 1 : $scope.match * 1); //temp solutions...
                }

                $scope.loadExample = function(e) {
                    window.location = window.location.pathname + '?' + $httpParamSerializer(e)
                };

                $scope.clear = function() {
                    $scope.matrix = undefined;
                    $scope.sequences = undefined;
                }

                $scope.align = function() {
                    var x = SequenceAlignemnt.align($scope.stringA, $scope.stringB, scoring, $scope.gap * 1, $scope.local);
                    $scope.matrix = x.matrix;
                    $scope.sequences = x.sequences;
                }

                $scope.align();

            }]);



        })();
    </script>

</body>

</html>
