<html>

<head>

    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="style/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="sequence-alignment.js"></script>
    <script src="app.js"></script>
    <style>
        .arrow-up,
        .arrow-left,
        .arrow-diag {
            position: absolute;
            top: auto;
            font-size: 10px;
            color: #666;
        }

        .arrow-up {
            margin-top: -13px;
            margin-left: 3px;
        }

        .arrow-left {
            margin-left: -24px;
            margin-top: 6px;
        }

        .arrow-diag {
            margin-top: -13px;
            margin-left: -28px;
            transform: rotateZ(45deg);
        }

        .path>.arrow-diag {
            color: green;
        }

        .path>.arrow-left {
            color: blue;
        }

        .path>.arrow-up {
            color: red;
        }

        .path {
            border: 3px solid #777;
        }

        td {
            min-width: 51px;
        }

        .table {
            width: 455px;
            margin: 0 auto;
            margin-top: 25px
        }

        td#matrix-table {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
        }
    </style>


</head>

<body ng-app="sequenceAlignmentDemo" ng-controller="mainController">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Sequence A</label>
                        <input type="text" class="form-control" placeholder="sequence A" ng-model="sequenceA" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Sequence B</label>
                        <input type="text" class="form-control" placeholder="sequence B" ng-model="sequenceB" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Gap</label>
                        <input type="text" class="form-control" placeholder="gap" ng-model="gap" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Match</label>
                        <input type="text" class="form-control" placeholder="match" ng-model="match" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Mismatch</label>
                        <input type="text" class="form-control" placeholder="mismatch" ng-model="mismatch" ng-change="clear()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" ng-model="local" ng-change="clear()" ng-options="l.value as l.label for l in localOptions"></select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Examples<span class="caret"></span>
  </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="e in examples">
                                <a ng-click="loadExample(e)">{{e.sequenceA}} - {{e.sequenceB}} ({{e.local ? 'LOCAL' : 'GLOBAL'}})</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="showPaths">Show Paths</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="showArrows">Show Arrows</label>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">

                    <button type="button" class="btn btn-success col-md-12" ng-click="align()">Align</button>
                </div>



                <div class="col-md-2">
                </div>
            </div>

        </div>
        <div class="row" ng-if="matrix">
            <div class="col-md-12">
                <table id="matrix-table" class="table table-bordered text-center table-responsive">
                    <tr>
                        <td></td>
                        <td></td>
                        <td ng-repeat="s in sequenceA.split('') track by $index"><strong>{{s}}</strong></td>
                    </tr>

                    <tr ng-repeat="row in matrix track by $index" ng-init="rowIndex = $index">
                        <td><strong ng-if="$index > 0">{{sequenceB[$index-1]}}</strong></td>
                        <td ng-repeat="cell in matrix[rowIndex]  track by $index">
                            <div ng-init="t = tMatrix[rowIndex][$index]" ng-class="{'path':cell.path  && showPaths }">
                                <span class="glyphicon glyphicon-arrow-left arrow-left" ng-if=" cell.left && showArrows "></span>
                                <span class="glyphicon glyphicon-arrow-up arrow-up" ng-if=" cell.up  && showArrows"></span>
                                <span class="glyphicon glyphicon-arrow-left arrow-diag" ng-if=" cell.diag  && showArrows"></span>
                                <span>{{cell.score}}</span>
                            </div>
                        </td>

                        <!-- <th ng-repeat="s in sequenceA.split('') track by $index">{{s}}</th> -->
                    </tr>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered text-center" style="max-width:455px">
                    <tr ng-repeat="s in alignments">

                        <td>
                            <table>
                                <tr>
                                    <td ng-repeat="s in s.sequenceA.split('') track by $index">{{s}}</td>
                                </tr>
                                <tr>
                                    <td ng-repeat="s in s.sequenceB.split('') track by $index">{{s}}</td>
                                </tr>
                            </table>
                        </td>
                        <td>{{s.score}}</td>
                    </tr>
                </table>
            </div>
        </div>

</body>

</html>
